<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav>
        <div class="nav-top-left">
            <div class="favorites">즐겨찾기</div>
            <div class="store-entry">입점신청</div>
        </div>
        <div class="nav-top-right">
            <div class="log-in">로그인</div>
            <div class="sign-in">회원가입</div>
            <div class="customer-center">고객센터</div>
        </div>
        <div class="nav-category">
            <div class="hamburger-btn"></div>
            <div class="category-text">카테고리</div>
        </div>
        <div class="nav-info-wrap">
            <div class="info-wrap-top">
                <div class="info-wrap-title"></div>
                <div class="info-wrap-search-bar">
                    <div class="search-bar-category"></div>
                    <div class="search-keyboard" placeholder="찾고 싶은 상품을 검색해보세요!"></div>
                    <div class="search-mic"></div>
                    <div class="search-btn"></div>
                </div>
                <div class="info-wrap-my-coupang">
                    <div class="my-coupang-icon"></div>
                    <div class="my-coupang-text">마이쿠팡</div>
                </div>
                <div class="info-wrap-shopping-cart">
                    <div class="shopping-cart-icon"></div>
                    <div class="shopping-cart-text">장바구니</div>
                </div>
            </div>
            <div class="info-wrap-bottom">
                <div class="info-wrap-rocket-delivery">로켓배송</div>
                <div class="info-wrap-rocket-fresh">로켓프레시</div>
                <div class="info-wrap-coupang-biz">쿠팡비즈</div>
                <div class="into-wrap-rocket-dp">로켓직구</div>
                <div class="info-wrap-gold-box">골드박스</div>
                <div class="info-wrap-wow-discount">와우회원할인</div>
                <div class="info-wrap-event-coupon">이벤트/쿠폰</div>
                <div class="info-wrap-speicial-exhibit">기획전</div>
                <div class="info-wrap-travel-ticket">여행/티켓</div>
            </div>
        </div>
    </nav>
    쿠팡 메인 페이지
</body>
</html>